.card {
  width: 603px;
  height: 423px;
  // background: grey;
  border-radius: 5px;
  background-image: url(https://res.cloudinary.com/djnasfo5s/image/upload/q_auto,f_auto/v1605335631/Portfolio/hi_im_tee_i2uyr3.png);
  background-size: auto;
  background-position: center center;
  // box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  // border: 15px solid white;
  margin: 100px auto;
  z-index: 50;
}

.arrow {
    margin: 75px -4px 0 5px;
    width: 50px;
}
.click {
  width: fit-content;
  margin: 28px 0px 0px -112px;
  transform: rotate(-75deg);
  animation: fadeInOpacity 1s;
  animation-iteration-count: infinite;
}
@keyframes fadeInOpacity {
    0% {
        margin: 28px 0px 0px -30px;
        transform: rotate(-75deg);
      }
      50% {
        margin: 28px 0px 0px -18px;
        transform: rotate(-98deg);
      }
      100% {
        margin: 28px 0px 0px -30px;
        transform: rotate(-75deg);
      }
}

@media screen and (max-width: 768px) {
    
  .card {
    width: 503px;
    height: 323px;
    background-image: url(https://res.cloudinary.com/djnasfo5s/image/upload/q_auto,f_auto,c_scale,w_503/v1605335631/Portfolio/hi_im_tee_i2uyr3.png);
  }
  .arrow {
    margin: 45px -4px 0 -7px;
    width: 50px;
  }
  .click {
    width: fit-content;
    margin: 28px 0px 0px -73px;
    transform: rotate(-75deg);
    animation: fadeInOpacity 1s;
    animation-iteration-count: infinite;
  }
  @keyframes fadeInOpacity {
    0% {
      margin: 28px 0px 0px -48px;
      transform: rotate(-75deg);
    }
    50% {
      margin: 28px 0px 0px -33px;
      transform: rotate(-98deg);
    }
    100% {
      margin: 28px 0px 0px -48px;
      transform: rotate(-75deg);
    }
  }
  
}

@media screen and (max-width: 375px) {
  .card {
    width: 283px;
    height: 193px;
    background-image: url(https://res.cloudinary.com/djnasfo5s/image/upload/q_auto,f_auto,c_scale,w_283/v1605335631/Portfolio/hi_im_tee_i2uyr3.png);
  }
  .arrow {
    margin: 45px -4px 0 -7px;
    width: 30px;
  }
  .click {
    font-size: 14px;
  }
  @keyframes fadeInOpacity {
    0% {
      margin: 20px 0px 0px -44px;
      transform: rotate(-75deg);
    }
    50% {
      margin: 20px 0px 0px -29px;
      transform: rotate(-98deg);
    }
    100% {
      margin: 20px 0px 0px -44px;
      transform: rotate(-75deg);
    }
  }
}
